
  .chatHeader {
    height: 60px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 64px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 20;
   
    
  }
  .title{
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
